<div class="sidebar">
    <div class="dashbord_logo">
        <h1> <span class="fas fa-globe"></span> Dashboard</h1>
    </div>

    <div class="dashbord_navbar">
        <ul>
            <li><span class="fas fa-home"></span> <a href=" {{ url_for('dashboard')}} " class="addActive">Home</a></li>
            <li><span class="fas fa-store-alt"></span> <a href=" {{ url_for('post')}} " class="addActive">Post</a></li>
            <li><span class="fas fa-cart-arrow-down"></span> <a href=" {{ url_for('product') }} " class="addActive">Product</a></li>
            <li><span class="fas fa-users"></span> <a href=" {{ url_for('subscriber') }} " class="addActive">Subscriber</a></li>
            <li><span class="fas fa-plus-circle"></span> <a href=" {{ url_for('addpost') }} " class="addActive">Add Post</a></li>
            <li><span class="fas fa-plus-circle"></span> <a href=" {{ url_for('addproduct') }} " class="addActive">Add Product</a></li>
        </ul>
    </div>
</div>