{% extends 'owner/owner_base.html' %}


{% block content %}

<div class="dashboard">
    {% include 'owner/_sidebar.html' %}

    <div class="right_container">
        {% include 'owner/_searchbar.html' %}

        <div class="addpost_page">
            <div class="addpost_form">
                <form action="" method="POST" enctype="multipart/form-data">
                    <input type="text" name="title" placeholder="Type Product Title" required>
                    <input type="number" name="description" placeholder="Type Product Price" required>
                    <input type="url" name="product_url" placeholder="Enter Product Url" required>
                    <input type="file" name="product_image" required>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}