{% extends 'owner/owner_base.html' %}


{% block content %}

<div class="post_detial_view">
    <h1>7 Steps To Overcome Your FEAR Of CONFLICT & Get COMFY W/ CONFRONTATION</h1>
        <img src=" {{ url_for('static', filename='images/boxing3.jpg')}} " alt="product pic">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, 
            itaque ipsum eveniet minima est commodi sed quam, accusantium 
            ex mollitia nostrum aspernatur. Odio soluta tempora eius saepe, nostrum atque quidem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, 
            itaque ipsum eveniet minima est commodi sed quam, accusantium 
            ex mollitia nostrum aspernatur. Odio soluta tempora eius saepe, nostrum atque quidem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, 
            itaque ipsum eveniet minima est commodi sed quam, accusantium 
            ex mollitia nostrum aspernatur. Odio soluta tempora eius saepe, nostrum atque quidem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, 
            itaque ipsum eveniet minima est commodi sed quam, accusantium 
            ex mollitia nostrum aspernatur. Odio soluta tempora eius saepe, nostrum atque quidem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, 
            itaque ipsum eveniet minima est commodi sed quam, accusantium 
            ex mollitia nostrum aspernatur. Odio soluta tempora eius saepe, nostrum atque quidem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, 
            itaque ipsum eveniet minima est commodi sed quam, accusantium 
            ex mollitia nostrum aspernatur. Odio soluta tempora eius saepe, nostrum atque quidem.
        </p>
</div>


{% endblock %}