{% extends 'owner/owner_base.html' %}


{% block content %}

<div class="dashboard">
    {% include 'owner/_sidebar.html' %}

    <div class="right_container">

        {% include 'owner/_searchbar.html' %}


        <div class="shoping_card_content">
    
            <div class="shoping_card">
                <img src="data:;base64,{{ image }} " alt="">
                <h2>{{product.title}}</h2>
                <span>$ {{product.price}}</span>
                <a href=" {{ product.product_url }} " target="_blank"><button> BUY </button></a>
            </div>
        </div>

    </div>
</div>


{% endblock %}