{% extends 'owner/owner_base.html' %}



{% block content %}

<div class="dashboard">
    {% include 'owner/_sidebar.html' %}


    <div class="right_container">
        {% include 'owner/_searchbar.html' %}

        <div class="post_in_postpage">

            <h2>Latest Product</h2>
            <div class="postpage_content">
                <label><a href="#">7 Steps To Overcome Your FEAR Of CONFLICT & Get COMFY W/ CONFRONTATION</a></label>
                <a href="#"><span class="fas fa-edit"></span></a>
                <a href="#"><span class="fas fa-trash"></span></a>
                <a href="#"><span class="fas fa-arrow-right"></span></a>
            </div>


            <div class="postpage_content">
                <label><a href="#">7 Steps To Overcome Your FEAR Of CONFLICT & Get COMFY W/ CONFRONTATION</a></label>
                <a href="#"><span class="fas fa-edit"></span></a>
                <a href="#"><span class="fas fa-trash"></span></a>
                <a href="#"><span class="fas fa-arrow-right"></span></a>
            </div>


            <div class="postpage_content">
                <label><a href="#">7 Steps To Overcome Your FEAR Of CONFLICT & Get COMFY W/ CONFRONTATION</a></label>
                <a href="#"><span class="fas fa-edit"></span></a>
                <a href="#"><span class="fas fa-trash"></span></a>
                <a href="#"><span class="fas fa-arrow-right"></span></a>
            </div>


            <div class="postpage_content">
                <label><a href="#">7 Steps To Overcome Your FEAR Of CONFLICT & Get COMFY W/ CONFRONTATION</a></label>
                <a href="#"><span class="fas fa-edit"></span></a>
                <a href="#"><span class="fas fa-trash"></span></a>
                <a href="#"><span class="fas fa-arrow-right"></span></a>
            </div>


            <div class="postpage_content">
                <label><a href="#">7 Steps To Overcome Your FEAR Of CONFLICT & Get COMFY W/ CONFRONTATION</a></label>
                <a href="#"><span class="fas fa-edit"></span></a>
                <a href="#"><span class="fas fa-trash"></span></a>
                <a href="#"><span class="fas fa-arrow-right"></span></a>
            </div>


            <div class="postpage_content">
                <label><a href="#">7 Steps & Get COMFY W/ CONFRONTATION</a></label>
                <a href="#"><span class="fas fa-edit"></span></a>
                <a href="#"><span class="fas fa-trash"></span></a>
                <a href="#"><span class="fas fa-arrow-right"></span></a>
            </div>

            <div class="postpage_content">
                <label><a href="#">7 Steps To Overcome Your FEAR Of CONFLICT & Get COMFY W/ CONFRONTATION</a></label>
                <a href="#"><span class="fas fa-edit"></span></a>
                <a href="#"><span class="fas fa-trash"></span></a>
                <a href="#"><span class="fas fa-arrow-right"></span></a>
            </div>

            


            <div class="next_pre_btn">
                <a href="#">next</a>
                <a href="#">previous</a>
            </div>

        </div>
    </div>
</div>



{% endblock %}