{% extends 'owner/owner_base.html' %}


{% block content %}



<div class="dashboard">

    {% include 'owner/_sidebar.html' %}

    <div class="right_container">

        {% include 'owner/_searchbar.html' %}

        <div class="contact_page">
            <h2>List of Contact</h2>

            {% for contact in contacts %}
            <div class="list_of_contact">
                <label> {{contact.name}} </label>
                <label> {{contact.email}} </label>
                <a href=" {{ url_for('delete_contact', id=contact.id)}} ">
                <span onclick=" return confirm('Are you sure to proceed?')" class="fas fa-trash"></span></a> 
                <a href=" {{ url_for('contact_detial_view', id=contact.id)}} "><span class="fas fa-arrow-right"></span></a>
            </div>


            <!-- <div class="pop">
                <div class="pop_box ">
                    {% if contact %}
                    <i class="fas fa-exclamation"></i>
                    <h1>Contact {{contact.name}} will be deleted Permanently!</h1>
                    <label>Are you sure to proceed?</label>
                
                    <div class="btns">
                        <a href="" class="btn1" onclick="remove_cssClass()">Cancel Process</a>
                        <a href=" {{ url_for('delete_contact', id=contact.id)}} " class="btn2">Delete Contact</a>
                    </div>
                    {% endif %}
                
                </div>
            </div> -->

            {% endfor %}

            


            <div class="next_pre_btn">
                {% if next_url %}
                <a href="{{next_url}}">Next</a>
                {% endif %}
                
                {% if prev_url %}
                <a href="{{prev_url}}">Pervious</a>
                {% endif %}
            </div>

        </div>


    </div>
</div>

{% endblock %}