{% extends 'owner/owner_base.html' %}



{% block content %}

<div class="dashboard">
    {% include 'owner/_sidebar.html' %}

    <div class="right_container">
        {% include 'owner/_searchbar.html' %}


        <div class="subscriber_page">
            <h2>Subscriber</h2>

            <div class="subscriber_content">
                <label>Example@gmail.com</label><a href="#">
                <span class="fas fa-trash"></span></a>
            </div>

            <div class="subscriber_content">
                <label>Example@gmail.com</label>
                <a href="#"><span class="fas fa-trash"></span></a>
            </div>


            <div class="subscriber_content">
                <label>Example@gmail.com</label>
                <a href="#"><span class="fas fa-trash"></span></a>
            </div>


            <div class="subscriber_content">
                <label>Example@gmail.com</label>
                <a href="#"><span class="fas fa-trash"></span></a>
            </div>


            <div class="subscriber_content">
                <label>Example1@gmail.com</label>
                <a href="#"><span class="fas fa-trash"></span></a>
            </div>


            <div class="subscriber_content">
                <label>Example11123@gmail.com</label>
                <a href="#"><span class="fas fa-trash"></span></a>
            </div>


            <div class="subscriber_content">
                <label>Example11@gmail.com</label>
                <a href="#"><span class="fas fa-trash"></span></a>
            </div>


            <div class="next_pre_btn">
                <a href="#">next</a>
                <a href="#">previous</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}