{% extends 'owner/owner_base.html' %}



{% block content %}

<div class="dashboard">
    {% include 'owner/_sidebar.html' %}

    <div class="right_container">
        {% include 'owner/_searchbar.html' %}


        <div class="subscriber_page">
            <h2>Subscriber</h2>

            {% for sub in subscribers %}
            <div class="subscriber_content">
                <label>{{sub.email}}</label>
                <span class="fas fa-trash" onclick="add_CssClass()"></span>
            </div>


            <div class="pop ">
                <div class="pop_box ">

                    {% if sub %}

                    <i class="fas fa-exclamation"></i>
                    <h1>Your Subscriber will be deleted Permanently!</h1>
                    <label>Are you sure to proceed?</label>
                
                    <div class="btns">
                        <a href="" class="btn1" onclick="remove_cssClass()">Cancel Process</a>
                        <a href=" {{ url_for('delete_subscriber', id=sub.id) }} " class="btn2">Delete Subscriber</a>
                    </div>
                
                    {% endif %}

                </div>
            </div>

            {% endfor %}

            

            <div class="next_pre_btn">
                {% if next_url %}
                <a href=" {{next_url}} ">next</a>
                {% endif %}
                {% if prev_url %}
                <a href=" {{prev_url}} ">previous</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}