{% extends 'owner/owner_base.html' %}


{% block content %}



<div class="dashboard">

    {% include 'owner/_sidebar.html' %}

    <div class="right_container">

        {% include 'owner/_searchbar.html' %}

        <!-- starting of card -->

        <div class="home_card">
            <div class="card">
                <div class="card_content">
                    <h1>{{post_count|length}}</h1>
                    <p>Posts</p>
                </div>
                <span class="fas fa-store-alt"></span>
            </div>

            <div class="card">
                <div class="card_content">
                    <h1>120</h1>
                    <p>Products</p>
                </div>
                <span class="fas fa-cart-arrow-down"></span>
            </div>

            <div class="card">
                <div class="card_content">
                    <h1>170</h1>
                    <p>Subscriber</p>
                </div>
                <span class="fas fa-users"></span>
            </div>

        </div>

        <!-- Ending of card -->

        <!-- stating of post and subscribe container -->

        <div class="post_and_subscribe_container">
            <div class="post">
                <h2>Latest Post</h2>

                {% for post in posts %}
                <div class="post_content">
                    <label><a href=" {{ url_for('owner_post_view', id=post.id) }} "> {{ post.title.title() }} </a></label>
                    <a href=" {{ url_for('edit_post', id=post.id) }} "><span class="fas fa-edit"></span></a>
                     <span onclick="add_CssClass()"  class="fas fa-trash"></span> 
                </div>


                <div class="pop ">
                    <div class="pop_box ">
                        <i class="fas fa-exclamation"></i>
                        <h1>Your Post will be deleted Permanently!</h1>
                        <label>Are you sure to proceed?</label>
                    
                        <div class="btns">
                            <a href="" class="btn1" onclick="remove_cssClass()">Cancel Process</a>
                            <a href=" {{ url_for('delete_post', id=post.id) }} " class="btn2">Delete Post</a>
                        </div>
                    
                    </div>
                    </div>


                {% endfor %}
                
            </div>

            <div class="subscribe">
                <h2>Latest Subscriber</h2>
                <div class="subscribe_content">
                    <label>Example@gmail.com</label>
                    <label>Example111@gmail.com</label>
                    <label>Example@gmail.com</label>
                    <label>Example@gmail.com</label>
                    <label>Example11@gmail.com</label>
                    <label>Example22@gmail.com</label>
                </div>
            </div>

        </div>

        <!-- ending of post and subscribe container -->

    </div>



</div>



{% endblock %}