{% extends 'client/base.html' %}



{% block content %}

<header>
    {% include 'client/_nav.html' %}

    <div class="contact_page">
        <div class="contact_form">
            
            <form action="" method="POST">
                <input type="text" name="name" placeholder="Type Your Name" required>
                <input type="email" name="email" placeholder="Type Your Email" required>
                <textarea name="question">Type Your Query</textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
        <img src=" {{ url_for('static', filename='images/contact.png')}} " alt="contact pic">
    </div>
</header>

{% endblock %}