{% extends 'client/base.html' %}

{% block content %}

<header>
    {% include 'client/_nav.html' %}

    <div class="main_content">
        <div class="content">
            <h1>Lorem ipsum consectetur dolor adipisicing elit.</h1>
            <p>
                Lorem, ipsum consectetur dolor sit adipisicing elit. 
                Soluta corrupti, tempora aliquid harum atque esse. Modi ipsam, accusantium maxime, 
                temporibus labore consectetur asperiores veniam dolorem minus aspernatur debitis perspiciatis. Illum.
            </p>
            <button> <a href="#"> Shop Now</a> </button>
        </div>

        <div class="content_img">
            <img src="{{ url_for('static', filename='images/businessman2.png') }}" alt="">
        </div>
    </div>
</header>



<div class="subscribeBar">
    <div class="subscribeContent">
        <i class="fas fa-envelope"></i>
        <h2>Get Battel-Tested Tips</h2>
        <p>See how new products can work for you</p>
    </div>

    <div class="subscribeForm">
        <form action="">
            <input type="email" name="email" placeholder="Enter your email" required> 
            <button type="submit">Subscribe Me</button>
        </form>
    </div>
</div>




<div class="cardsContainer">
    
    {% for post in posts %}
    <div class="card">
        <img src=' data:;base64,{{ b64encode(post.image).decode("utf-8") }} ' alt="blog picture">
        <h2>{{post.title}}</h2>
        <p>{{post.article|safe|truncate(270, True, '...')}}</p>
        <a href=" {{ url_for('post_view', id=post.id)}} "><button> Read More </button></a>
    </div>
    {% endfor %}
  
</div>


{% include 'client/_footer.html' %}


{% endblock %}