{% extends 'client/base.html' %}



{% block content %}

<div class="post_nav_color">
    {% include 'client/_nav.html' %}
</div>

<div class="post_view_page">
    <div class="post_view_content">
        <h1>{{post.title}}</h1>
        <img src=" data:;base64, {{ image }} " title="Pic of {{post.title}}" alt="{{post.image_name}} pic">
        <p>{{post.article|safe}}</p>
    </div>


    <div class="post_rightside_content">

        <div class="post_subscribe_form">
            <h2>Get In Touch</h2>
            <form action="" method="POST">
                <input type="email" name="email" placeholder="Enter Email Address" required>
                <button type="submit"> Subscribe Me </button>
            </form>
        </div>

        <div class="latest_post">
            <h4>Latest Updates</h4>
            {% for post in posts %}
            <h2><a href="{{ url_for('post_view', title=post.title.replace(' ', '-'))}}"> {{post.title}} </a></h2>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'client/_footer.html' %}

{% endblock %}