{% extends 'client/base.html' %}



{% block content %}

<div class="post_nav_color">
    {% include 'client/_nav.html' %}
</div>

<div class="post_view_page">
    <div class="post_view_content">
        <h1>{{post.title}}</h1>
        <img src=" data:;base64, {{ image }} " alt="product pic">
        <p>{{post.article|safe}}</p>
    </div>


    <div class="post_rightside_content">

        <div class="post_subscribe_form">
            <h2>Get In Touch</h2>
            <form action="">
                <input type="email" placeholder="Enter Email Address" required>
                <button type="submit"> Subscribe Me </button>
            </form>
        </div>

        <div class="latest_post">
            <h4>Latest Updates</h4>
            {% for post in posts %}
            <p><a href="{{ url_for('post_view', id=post.id)}}"> {{post.title}} </a></p>
            {% endfor %}
            <!-- <p><a href="#"> 7 Steps To Overcome Your FEAR Of CONFLICT & Get COMFY W/ CONFRONTATION </a></p>
            <p><a href="#"> This is Post 3 </a></p>
            <p><a href="#"> This is Post 4 </a></p>
            <p><a href="#"> This is Post 1 </a></p>
            <p><a href="#"> This is Post 2 </a></p>
            <p><a href="#"> This is Post 3 </a></p>
            <p><a href="#"> This is Post 4 </a></p>
            <p><a href="#"> This is Post 9 </a></p> -->
        </div>
    </div>
</div>

{% include 'client/_footer.html' %}

{% endblock %}