@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


.dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
}


/* start of sidebar container */


.dashboard .sidebar{
    width: 25%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right bottom,#0557AD 30%,#08E6FF 100%);
}


.sidebar .dashbord_logo{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    /* box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2); */
}


.dashbord_logo h1{
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}


.dashbord_logo h1 span{
    color: #9bc634;
}


.sidebar .dashbord_navbar{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}


.dashbord_navbar li{
    padding-bottom: 2rem;
}


.dashbord_navbar li span{
    color: #9bc634;
    font-size: 2rem;
}


.dashbord_navbar li a{
    color: #fff;
    font-size: 2rem;
    letter-spacing: 2px;
    padding-left: 1rem;
    text-transform: uppercase;
}


.dashbord_navbar li a:hover{
    color: #9bc634;
}


.dashbord_navbar li a.active{
    color: #9bc634;
}


/* end of sidebar container */


/* start of home right side container */


.right_container{
    width: 75%;
    height: 100vh;
    background-color: #bdc3c7;
}


.search_and_logout{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    background-image: linear-gradient(to left bottom,#0557AD 70%,#08E6FF 100%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}


.search_and_logout .search{
    width: 50%;
    height: 5vh;
    border-radius: 20px;
    background-color: #fff;
}


.search input{
    width: 90%;
    height: 5vh;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-left: 13px;
    padding-bottom: 3px;
    border-radius: 20px;
    background: none;
}


.search button{
    width: 9%;
    height: 5vh;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}


.search button span{
    color: #34495e;
    font-size: 1rem;
}


.search_and_logout .logout{
    width: 13%;
    height: 6vh;
}


.logout button{
    width: 100%;
    height: 6vh;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: #9bc634;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px gray;
}


.logout button:hover{
    color: #9bc634;
}


.home_card{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.home_card .card{
    width: 30%;
    height: 20vh;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}


.card .card_content h1{
    color: #95a5a6;
    font-size: 3rem;
}


.card .card_content p{
    padding-left: 4px;
    color: #95a5a6;
}


.card span{
    color: #27ae60;
    font-size: 3rem;
}


.post_and_subscribe_container{
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.post_and_subscribe_container .post{
    width: 60%;
    height: 50vh;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
}


.post h2{
    color: #34495e;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.post_content{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom: 1px solid #95a5a6;
}


.post_content label{
    width: 85%;
    margin-bottom: 4px;
}


.post_content label a{
    color: #95a5a6;
}


.post_content label a:hover{
    color: #3498db;
}


.post_content .fa-trash{
    color: #c0392b;
    margin-bottom: 4px;
}


.post_content .fa-trash:hover{
    color: #e74c3c;
}


.post_content .fa-edit{
    color: #27ae60;
    margin-bottom: 4px;
}


.post_content .fa-edit:hover{
    color: #2ecc71;
}


.post_and_subscribe_container .subscribe{
    width: 30%;
    height: 50vh;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
}


.subscribe h2{
    color: #34495e;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.subscribe_content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.subscribe_content label{
    color: #95a5a6;
    font-size: 1.2rem;
    padding-bottom: 15px;
}


/* end of home right side container */


/* end of post right side container */


.post_in_postpage{
    width: 95%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 1rem;
    background-color: #fff;
}

.post_in_postpage h2{
    color: #34495e;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}


.post_in_postpage .postpage_content{
    padding: 1rem;
    display: flex;
    font-size: 1.1rem;
    justify-content: space-around;
}


.postpage_content label a{
    color: #34495e;
}


.postpage_content label a:hover{
    color: #3498db;
}


.postpage_content .fa-edit{
    color: #27ae60;
}


.postpage_content .fa-edit:hover{
    color: #2ecc71;
}


.postpage_content .fa-trash{
    color: #c0392b;
}


.postpage_content .fa-trash:hover{
    color: #e74c3c;
}


.postpage_content .fa-arrow-right{
    color: #8e44ad;
}


.postpage_content .fa-arrow-right:hover{
    color: #9b59b6;
}


.post_in_postpage .next_pre_btn{
    width: 95%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
}


.next_pre_btn a{
    color: #fff;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 2px;
    border-radius: 20px;
    font-family: inherit;
    text-shadow: 2px 2px 2px gray;
    background-color: #9bc634;
}


.next_pre_btn a:hover{
    color: #9bc634;
}


.subscriber_page{
    width: 60%;
    height: 82vh;
    margin: 0px auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}


.subscriber_page h2{
    color: #34495e;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}



.subscriber_page .subscriber_content{
    padding: 1rem;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
}


.subscriber_content label{
    color: #34495e;
}


.subscriber_content .fa-trash{
    color: #c0392b;
}


.subscriber_content .fa-trash:hover{
    color: #e74c3c;
}


.subscriber_page .next_pre_btn{
    width: 95%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
}


.addpost_page{
    width: 95%;
    height: 80vh;
    margin: 0px auto;
    margin-top: 1rem;
    background-color: #fff;
}


.addpost_page form{
    width: 90%;
    margin: 0px auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}


form input[type="text"]{
    height: 8vh;
    border: none;
    outline: none;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #34495e;
}



form input[type="file"]{
    height: 8vh;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


form textarea{
    height: 35vh;
    border: none;
    outline: none;
    resize: vertical;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #34495e;
}


form button{
    color: #fff;
    height: 8vh;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px gray;
    background-color: #9bc634;
}


form button:hover{
    color: #9bc634;
}













