{% extends 'base.html' %}

{% block content %}

<header>
    {% include '_nav.html' %}

    <div class="main_content">
        <div class="content">
            <h1>Lorem ipsum consectetur dolor adipisicing elit.</h1>
            <p>
                Lorem, ipsum consectetur dolor sit adipisicing elit. 
                Soluta corrupti, tempora aliquid harum atque esse. Modi ipsam, accusantium maxime, 
                temporibus labore consectetur asperiores veniam dolorem minus aspernatur debitis perspiciatis. Illum.
            </p>
            <button> <a href="#"> Shop Now</a> </button>
        </div>

        <div class="content_img">
            <img src="{{ url_for('static', filename='images/businessman2.png') }}" alt="">
        </div>
    </div>
</header>



<div class="subscribeBar">
    <div class="subscribeContent">
        <i class="fas fa-envelope"></i>
        <h2>Get Battel-Tested Tips</h2>
        <p>See how new products can work for you</p>
    </div>

    <div class="subscribeForm">
        <form action="">
            <input type="email" name="email" placeholder="Enter your email" required> 
            <button type="submit">Subscribe Me</button>
        </form>
    </div>
</div>




<div class="cardsContainer">
    
    <div class="card">
        <img src=" {{ url_for('static', filename='images/boxing3.jpg')}} " alt="">
        <h2>7 Steps to Overcome Your FEAR of CONFLICT & Get COMFY w/ CONFRONTATION</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Sed facilis pariatur, iusto soluta magnam optio suscipit fugit, 
            eos praesentium deleniti in aut minus veniam doloribus, nesciunt quis maxime quas ullam!
        </p>
        <a href="#"><button> Read More </button></a>
    </div>

    <div class="card">
        <img src=" {{ url_for('static', filename='images/boxing3.jpg')}} " alt="">
        <h2>7 Steps to Overcome Your FEAR of CONFLICT & Get COMFY w/ CONFRONTATION</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Sed facilis pariatur, iusto soluta magnam optio suscipit fugit, 
            eos praesentium deleniti in aut minus veniam doloribus, nesciunt quis maxime quas ullam!
        </p>
        <a href="#"><button> Read More </button></a>
    </div>

    <div class="card">
        <img src=" {{ url_for('static', filename='images/boxing3.jpg')}} " alt="">
        <h2>7 Steps to Overcome Your FEAR of CONFLICT & Get COMFY w/ CONFRONTATION</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Sed facilis pariatur, iusto soluta magnam optio suscipit fugit, 
            eos praesentium deleniti in aut minus veniam doloribus, nesciunt quis maxime quas ullam!
        </p>
        <a href="#"><button> Read More </button></a>
    </div>

    <div class="card">
        <img src=" {{ url_for('static', filename='images/boxing3.jpg')}} " alt="">
        <h2>7 steps to Overcome Your FEAR of CONFLICT & Get COMFY w/ CONFRONTATION</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Sed facilis pariatur, iusto soluta magnam optio suscipit fugit, 
            eos praesentium deleniti in aut minus veniam doloribus, nesciunt quis maxime quas ullam!
        </p>
        <a href="#"><button> Read More </button></a>
    </div>
  
</div>




<footer>
    <div class="upperFooter">
        <div class="aboutTheShop">
            <h3>About the Shop</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit laborum consequuntur velit esse, beatae tempora quia! Assumenda 
                inventore expedita illum et asperiores, blanditiis ex iste magni explicabo nisi, sit hic.
            </p>
        </div>

        <div class="categories">
            <h3>Categories</h3>
            <ul>
                <li><a href="{{ url_for('index') }}" id="a" class="addActive"> Home </a></li>
                <li><a href="#" class="addActive"> Shop </a></li>
                <li><a href="{{ url_for('blog') }}" class="addActive"> Blog </a></li>
                <li><a href="#" class="addActive"> Privacy Policy </a></li>
            </ul>
        </div>

        <div class="getInTouch">
            <h3>Get In Touch</h3>
          <ul>
              <li><i class="fas fa-envelope"></i> Example@gmail.com</li>
              <li><i class="fas fa-phone"></i> +123 456789</li>
              <li><i class="fas fa-map-marker-alt"></i> ABC XYZ ABC</li>
          </ul>  
        </div>
    </div>

    <hr>

    <div class="lowerFooter">
        <h1><a href="{{ url_for('index') }}">Websitelogo</a></h1>
        <p> &copy; 2021 All Rights Reserved.</p>

        <div class="socialMedia">
            <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>




{% endblock %}